* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
}

.title {
  margin-bottom: 35px;
}

.coinsWrapper {
  position: absolute;
  margin-top: 50vh;
  padding: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 3px 3px 1px #EFEFEF;
  min-width: 272px;
}

.coins {
  border-radius: 100px;
  background-color: #eee;
  color: #888;
  display: inline-block;
  width: 100px;
  height: 100px;
  padding-top: 38px;
  cursor: pointer;
}

.coinRow {
  margin-top: 25px;
}

.coinsRight {
  float: right;
}

.coinCount {
  border-radius: 100px;
  background-color: #222;
  color: #ccc;
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.coinCountTop {
  top: 102px;
}

.coinCountBottom {
  bottom: 203px;
}

.coinCountLeft {
  right: 140px;
}

.coinCountRight {
  right: 19px;
}

.coinInput {
  width: 65px;
  height: 20px;
  display: inline-block;
}

.btn:hover {
  cursor: pointer;
  color: #ccc;
}

.calcBtn {
  background-color: #222;
  color: #bbb;
}

.calcBtn:hover {
  background-color: #444;
}