<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coin Counter</title>
  <script src="./scripts/angular.min.js"></script>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body ng-app="coinCounter" ng-controller="coinController" ng-cloak>
  <div class="container-fluid">

    <!-- START centered .coinsWrapper -->
    <div class="coinsWrapper">
      <h6 class="text-center title">COIN COUNTER</h6>

      <!-- START top coins group -->
      <div class="form-group">
        <span class="coins text-center">
          {{ coin1.denomination }}
        </span>
        <span class="coins text-center">
          {{ coin2.denomination }}
        </span>
      </div>
      <!-- END top coins group -->

      <!-- START bottom coins group -->
      <div class="form-group">
        <span class="coins text-center">
          {{ coin3.denomination }}
        </span>
        <span class="coins text-center">
          {{ coin4.denomination }}
        </span>
      </div>
      <!-- END bottom coins group-->

      <div class="form-group">
        <input 
        ng-model="inputCents"
        class="form-control text-right" 
        type="number">
      </div>
      <button 
      ng-click="calculateClick()"
      class="calcBtn btn btn-block">
        CALCULATE
      </button>
    </div>
    <!-- END centered .coinsWrapper -->
  </div>
  
  <script src="./scripts/modules/app.js"></script>
  <script src="./scripts/controllers/coinController.js"></script>
</body>
</html>