<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coin Counter</title>
  <script src="./scripts/angular.min.js"></script>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body ng-app="coinCounter" ng-controller="coinController" ng-cloak>
  <div class="container-fluid">

    <!-- START centered .coinsWrapper -->
    <div class="coinsWrapper">
      <h6 class="text-center title">COIN COUNTER</h6>

      <!-- START top coins group -->
      <div class="form-group">
        <div class="coinRow">

          <!-- Left coin -->
          <span ng-click="coinClick()" class="coins text-center">
            <span ng-hide="showCoinInput">
              {{ coins[0].denomination }}
            </span>
            <input
            ng-show="showCoinInput"
            ng-model="coins[0].denomination"
            class="coinInput form-control"
            type="number">
          </span>
          <span ng-if="coins[0].count" class="coinCount coinCountTop coinCountLeft text-center">
            {{ coins[0].count }}
          </span>

          <!-- Right coin -->
          <span ng-click="coinClick()" class="coins coinsRight text-center">
            <span ng-hide="showCoinInput">
              {{ coins[1].denomination }}
            </span>
            <input
            ng-show="showCoinInput"
            ng-model="coins[1].denomination"
            class="coinInput form-control"
            type="number">
          </span>
          <span ng-if="coins[1].count" class="coinCount coinCountTop coinCountRight text-center">
            {{ coins[1].count }}
          </span>
        </div>
      </div>
      <!-- END top coins group -->

      <!-- START bottom coins group -->
      <div class="form-group">
        <div class="coinRow">

          <!-- Left Coin -->
          <span ng-click="coinClick()" class="coins text-center">
            <span ng-hide="showCoinInput">
              {{ coins[2].denomination }}
            </span>
            <input
            ng-show="showCoinInput"
            ng-model="coins[2].denomination"
            class="coinInput form-control"
            type="number">
          </span>
          <span ng-if="coins[2].count" class="coinCount coinCountBottom coinCountLeft text-center">
            {{ coins[2].count }}
          </span>

          <!-- Right Coin -->
          <span ng-click="coinClick()" class="coins coinsRight text-center">
            <span ng-hide="showCoinInput">
              {{ coins[3].denomination }}
            </span>
            <input 
            ng-show="showCoinInput"
            ng-model="coins[3].denomination"
            class="coinInput form-control"
            type="number">
          </span>
          <span ng-if="coins[3].count" class="coinCount coinCountBottom coinCountRight text-center">
            {{ coins[3].count }}
          </span>
        </div>
      </div>
      <!-- END bottom coins group-->

      <div class="form-group">
        <input 
        ng-model="inputCents" 
        ng-click="showCoinInput = false"
        ng-focus="showCoinInput = false"
        class="form-control text-right"
        type="number">
      </div>
      <button 
      ng-click="calculateClick()"
      class="calcBtn btn btn-block">
        CALCULATE
      </button>
    </div>
    <!-- END centered .coinsWrapper -->
  </div>
  
  <script src="./scripts/modules/app.js"></script>
  <script src="./scripts/controllers/coinController.js"></script>
</body>
</html>